@import '../../styles/variables.scss';

.slideshow {
  position: relative;
  display: inline-block;
}

.slide {
  display: none;
  text-align: center;
  font-size: 1em;
  line-height: 0;
}

.previous,
.next {
  position: absolute;
  top: 0;
  bottom: 0;
}

.previous {
  left: 0;
  right: 50%;
  cursor: w-resize;
}

.next {
  left: 50%;
  right: 0;
  cursor: e-resize;
}

.active {
  display: inline-block;
}

@media (min-width: $phone-breakpoint) and (max-width: $tablet-portrait-breakpoint) {
  .slideshow {
    margin-top: $outer-margin;
  }
}

@media (min-width: $tablet-portrait-breakpoint + 1) {
  .slideshow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
