@import '../../styles/index';

.slideshow {
  position: absolute;
}

.slide {
  display: none;
  text-align: center;
  font-size: 1em;
  line-height: 0;
}

.previous,
.next {
  position: absolute;
  top: 0;
  bottom: 0;
}

.previous {
  left: 0;
  right: 50%;
  cursor: w-resize;
}

.next {
  left: 50%;
  right: 0;
  cursor: e-resize;
}

.active {
  display: inline-block;
}

.statement {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .text {
    @include transition(0.3s);
    @include transform(translateY(20px));

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    padding: $margin;
    margin-bottom: $margin;
    font-size: 0.9em;
    background-color: $background-color-transparent;
    z-index: 1;
  }

  h2 {
    position: fixed;
    bottom: $margin;
    left: $margin;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.7em;
    z-index: 2;
    cursor: default;

    &:hover {
      display: block;
    }

    &:hover + .text {
      @include transform(translateY(0px));

      display: block;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    }
  }

  h3 {
    margin-top: 0;
  }
}

@include from-tablet-portrait {
  .slideshow {
    @include transform(translate(-50%, -50%));

    top: 50%;
    left: 50%;
  }

  .statement {
    display: block;

    .text {
      left: $margin;
      bottom: $margin;
      padding: $margin $margin $margin 0;
      margin-bottom: 0;
      width: 500px;
    }

    h2 {
      right: auto;
      font-size: 0.8em;

      &:hover + .text {
        display: block;
        cursor: pointer;
      }
    }
  }
}
