@import '../../styles/index';

.menu {
  h1 {
    position: fixed;
    z-index: 4;
    top: $margin;
    left: $margin;
    padding-top: 4px;
  }
}

.navigation {
  @include transition(0.1s);
  @include transform(translateY(-50px));

  position: fixed;
  top: 0;
  left: $margin-small;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  padding: 60px $margin $margin $margin;
  width: 100%;
  background: $background-color-transparent;

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: default;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    a {
      font-size: 0.8em;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

.hamburger {
  display: block;
  z-index: 4;
  position: fixed;
  top: $margin;
  right: $margin;
  cursor: pointer;
}

.line {
  @include transition(0.3s);

  display: block;
  width: 24px;
  height: 3px;
  margin: 4px auto;
  background-color: $text-color;
}

.socials {
  position: absolute;
  right: $margin;
  padding-right: $margin;
  margin-right: $margin;
  bottom: $margin;

  a {
    text-decoration: none;
  }

  img {
    float: left;
    width: 22px;
    height: 22px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.open {
  .navigation {
    @include transform(none);

    visibility: visible;
    opacity: 1;
  }

  .hamburger .line:nth-child(1) {
    @include transform(translateY(8px) rotate(45deg));
  }

  .hamburger .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger .line:nth-child(3) {
    @include transform(translateY(-6px) rotate(-45deg));
  }
}

@include from-tablet-portrait {
  .menu {
    h1 {
      padding-top: 0;
    }
  }

  .navigation {
    @include transform(none);

    position: fixed;
    opacity: 1;
    visibility: visible;
    right: $margin;
    bottom: auto;
    left: auto;
    width: auto;
    padding: 0;
    text-align: right;

    h2 {
      margin-top: $margin;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    ul {
      display: none;
      margin-top: 0;
      padding-top: $margin;
      padding-left: $margin;
      padding-bottom: $margin;

      &:hover {
        display: block;
      }
    }

    h2:hover + ul {
      display: block;
    }
  }

  .hamburger {
    display: none;
  }

  .socials {
    position: fixed;
    left: auto;
    bottom: $margin;
    right: $margin;
    padding-right: 0;
    margin-right: 0;
  }
}
