.about {
  width: 80%;
  margin: 0 auto;
}

.profile {
  float: left;
  width: 37%;

  img {
    max-width: $max-image-width;
    max-height: $max-image-height;
  }
}

.description {
  float: right;
  width: 50%;
  margin-right: 5%;
}

.contact {
  a {
    margin-top: 8px;
    font-size: .8em;
    display: block;
  }

  img {
    float: left;
    width: 18px;
    height: 18px;
    margin: -2px 4px 0 0;
    vertical-align: middle;
  }
}

@media (max-width: $phone-breakpoint) {

  .about {
    width: 100%;
  }

  .profile {
    width: 100%;

    img {
      display: block;
      margin: 0 auto 20px 0;
    }
  }

  .description {
    width: 100%;
    margin: 0;
  }

}
