.about {
  width: $main-block-width;
  margin: 0 auto;
}

.profile {
  float: left;
  width: 27%;

  img {
    margin-top: 8px;
    max-width: $max-image-width;
    max-height: $max-image-height;
  }
}

.description {
  float: right;
  width: 70%;
  margin-right: 0;
}

.contact {
  a {
    margin-top: 8px;
    font-size: .69em;
    display: block;
  }

  img {
    float: left;
    width: 18px;
    height: 18px;
    margin: -3px 3px 0 0;
    vertical-align: middle;
  }
}

@media (max-width: $phone-breakpoint) {

  .about {
    width: 100%;
  }

  .profile {
    width: 100%;

    img {
      display: block;
      margin-bottom: 20px;
    }
  }

  .description {
    width: 100%;
    margin: 0;
  }

}
