html {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
  color: $text-color;
}

h1 {
  font-size: 1em;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: .9em;
  font-weight: $font-weight-bold;
}

a {
  font-size: .8em;
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: .8em;
  line-height: 1.4em;
}

img {

  &.center {
    display: block;
    height: auto;
    max-width: $max-image-width;
    max-height: $max-image-height;
    margin: 0 auto 40px auto;
  }
}

.profile {
  float: left;
  width: 47%;

  img {
    max-width: $max-image-width;
    max-height: $max-image-height;
  }
}

.about {
  float: right;
  width: 47%;
  margin: 0 0 0 6%;
}

a.social {
  text-decoration: none;

  img {
    width: 28px;
    height: 28px;
    margin: 0 0 0 4px;
  }
}
