.fancybox-bg {
  background-color: #fff;

  .fancybox-is-open & {
    opacity: 1;
  }
}

.fancybox-button {
  background-color: #fff;

  &:hover {
    color: $text-color;
  }
}

.fancybox-content {
  margin: 0 50px;
}

.fancybox-infobar {
  color: $text-color;
  mix-blend-mode: normal;
}
