header {
  background-color: $background-color;

  .menu-button,
  .menu-checkbox {
    display: none;
    position: absolute;
    top: $outer-margin;
    right: $outer-margin;
  }

  h1 {
    position: fixed;
    top: $outer-margin;
    left: $outer-margin;
  }
}

nav {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: $sidebar-width - (2 * $sidebar-padding);
  padding: 0 $sidebar-padding;
  background: $background-color;

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0 0 $outer-margin -40px;
  }

  a {
    font-size: 0.8em;
  }
}

.social {
  position: absolute;
  left: $outer-margin;
  bottom: 30px;
}

main {
  margin: $outer-margin $outer-margin $outer-margin $sidebar-width;
  overflow-y: scroll;
}

@media (max-width: $phone-breakpoint) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    h1 {
      top: $outer-margin - 3;
      left: $outer-margin;
    }

    .menu-button {
      display: block;
      top: $outer-margin;
      right: $outer-margin;
      cursor: pointer;
    }

    .menu-checkbox:checked ~ nav {
      display: block;
    }
  }

  nav {
    display: none;
    bottom: auto;
    padding-bottom: $outer-margin;
    width: 100%;
  }

  main {
    margin: 80px $outer-margin $outer-margin $outer-margin;
  }
}
