aside {
    float: left;
    width: $sidebar-width - (2 * $sidebar-padding);
    margin-top: 40px;
    padding: 0 $sidebar-padding;

    h1 {
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        margin: 0 0 0 -40px;
    }
}

main {
    margin-left: $sidebar-width;
    background-color: red;
}
