.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $outer-margin;
  grid-auto-rows: auto;

  a:nth-child(2n+1) img {
    float: right;
  }
}

.no-grid {
  img {
    margin: 0 auto $outer-margin auto;
  }
}

@media (max-width: $phone-breakpoint) {
  .grid {
    grid-template-columns: repeat(1, 1fr);

    a:nth-child(2n+1) img {
      float: none;
    }

    img {
      margin: 0 auto;
    }
  }
}
