.work {
  margin: 0 auto;
}

.photos {
  a[data-fancybox] {
    display: none;
  }

  a[data-fancybox]:first-child {
    display: inherit;
  }

  .statement {
    max-width: 500px;
    margin: 0 auto;
  }

  .button-next {
    float: right;
    color: $text-color-light;
    font-size: 1.4em;  
    text-decoration: none;

    &:hover {
      color: $text-color;
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .photos .statement {
    max-width: none;
  }
}
