.work {
  max-width: $main-block-width;
  margin: 0 auto;

  h2 {
    text-align: left;
  }
}

.photos {
    a {
        display: none;
    }

    a:first-child {
        display: inherit;
    }

    img {
        margin: 0 auto;
    }
}

@media (max-width: $phone-breakpoint) {
  .work {
    max-width: none;
  }
}
