$phone-breakpoint: 768px;
$outer-margin: 35px;

$sidebar-width: 250px;
$sidebar-padding: $outer-margin;

$background-color: #fff;
$text-color: #444;
$text-color-light: #888;

$font-weight-normal: 300;
$font-weight-bold: 500;
