@import '../../styles/index';

.main {
  position: relative;
  margin: 75px $margin $margin $margin;
}

@include from-tablet-portrait {
  .main {
    position: absolute;
    top: $margin;
    right: $margin;
    bottom: $margin;
    left: $margin;
    margin: 0;
  }
}
