@import '../../styles/variables';

.main {
  margin: 100px $outer-margin $outer-margin $outer-margin;
}

@media (min-width: $phone-breakpoint) {
  .main {
    margin: 8vh $outer-margin $outer-margin $sidebar-width;
    text-align: center;
  }
}
