@import '../../styles/variables';

.main {
  position: relative;
  margin: 75px $outer-margin $outer-margin $outer-margin;
}

@media (min-width: $phone-breakpoint) {
  .main {
    position: absolute;
    top: $outer-margin;
    right: $outer-margin;
    bottom: $outer-margin;
    left: $outer-margin;
    margin: 0;
  }
}
