---
---

@charset "utf-8";

$phone-breakpoint: 767px;
$outer-margin: 35px;

$sidebar-width: 210px;
$sidebar-padding: $outer-margin;

$font-weight-normal: 300;
$font-weight-bold: 500;

$background-color: #fff;
$text-color: #444;

$max-image-width: 100%;
$max-image-height: 80vh;

@import 'base';
@import 'layout';
@import 'home';
@import 'about';
@import 'work';
