$phone-breakpoint: 768px;

$margin: 20px;
$margin-small: 2px;

$background-color: #fff;
$background-color-transparent: rgba(255, 255, 255, 0.85);

$text-color: rgba(60, 60, 60, 0.9);
$text-color-medium: rgba(60, 60, 60, 0.8);

$font-weight-normal: 300;
$font-weight-bold: 500;
