@import '../styles/variables';

.main {
  margin: 95px $outer-margin $outer-margin $sidebar-width;
  text-align: center;
}

@media (max-width: $phone-breakpoint) {
  .main {
    margin: 100px $outer-margin $outer-margin $outer-margin;
  }
}
