@import '../styles/variables';
  
.main {
    margin: $outer-margin $outer-margin $outer-margin $sidebar-width;
    overflow-y: scroll;
}
  
@media (max-width: $phone-breakpoint) {
    .main {
        margin: 80px $outer-margin $outer-margin $outer-margin;
    }
}
  