@import '../styles/variables.scss';

.slideshow {
  margin: 0 auto;
  max-width: 700px;
  max-height: $max-image-height;
}

.slides {
  cursor: e-resize;
}

.slide {
  display: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;

  p {
    margin: 0.9em 0;
  }
}

.navigation {
  display: flex;
  align-content: space-between;

  h3 {
    margin: 0.4em 0;
  }
}

.caption {
  display: none;
  font-style: italic;
}

.active {
  display: block;
}

.leftArrow,
.rightArrow {
  flex-grow: 1;
  font-size: 1.3em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.rightArrow {
  text-align: right;
}
