@import '../styles/variables.scss';

.slideshow {
  .navigation {
    display: flex;
    align-content: space-between;
  }

  .slide {
    display: none;
    margin: 0 auto;
    font-size: 0.9em;
    cursor: e-resize;
    max-height: 400px;
  }

  .caption {
    display: none;
    margin: 1.3em auto 0 auto;
    width: 80%;
    font-size: 0.8em;
  }

  .active {
    display: block;
  }

  .leftArrow,
  .rightArrow {
    flex-grow: 1;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
  }

  .rightArrow {
    text-align: right;
  }
}
